# Data Science Tools and Ecosystem

This notebook provides a summary of Data Science Tools and their Ecosystem.

**Objectives:** 
* List popular languages for Data Science
* Commonly used libraries used by Data Scientists
* Data Science Tools
* Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. NumPy
3. TensorFlow
4. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python:

This is a simple arithmetic expression to multiply then add integers

In [3]:
result=(3*4)+5
print(result)

17

This will convert 200 minutes into hours by dividing by 60

In [4]:
result=200/60
print(result)

3.3333333333333335

## Author: 
Michelle Jooste